.products {
	margin: 30px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.products__image {
	width: 80vw;
	margin-top: 80px;
	border-radius: 30px;
}

.products__image-center {
	width: 1200px;
	margin-top: 70px;
	border-radius: 30px;
}

.products__heading {
	font-size: 58px;
	color: #fff;
	text-align: center;
	font-weight: 400;
	margin: 50px 0 60px 0;
}

.products__container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
}

.products__container-main {
	position: relative;
	width: 600px;
	height: 720px;
	background: #5e5e5e;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 25px;
	padding: 30px;
}

.container-main-title {
	font-size: 42px;
	color: #fff;
	font-weight: 400;
	letter-spacing: 2px;
	margin-top: 50px;
}

.products__main-picture {
	position: absolute;
	width: 500px;
	height: 350px;
	top: 215px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container-main-bottom {
	position: absolute;
	bottom: 35px;
	display: flex;
	gap: 70px;
	align-items: center;
}

.main-bottom-price {
	font-size: 38px;
	color: #fff;
	font-weight: 300;
}

.btn-primary {
	/* width: 180px; */
	padding: 10px 40px;
	/* height: 70px; */
	border-radius: 20px;
	background: #bf1d69;
	border: none;
	font-size: 32px;
	font-weight: 300;
	color: #fff;
	cursor: pointer;
}

.vitrina__right-top.product {
	position: relative;
	overflow: hidden;
	width: 600px;
	height: 450px;
	border-radius: 25px;
	background: #5e5e5e;
	padding: 30px;
}

.right-top-text.product {
	display: flex;
	flex-direction: column;
	width: 400px;
	color: #fff;
	margin-top: 110px;
}

.right-top-title.product {
	font-size: 52px;
}

.right-top-description.product {
	font-size: 32px;
	line-height: 34px;
}

.products__image-right {
	width: 600px;
	border-radius: 30px;
}

.products__container-left {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 600px;
}

.characteristics {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 26px;
	color: #fff;
	font-weight: 300;
	margin: 30px;
	margin-top: 30px;
}

.product__os {
	position: relative;
	width: calc(80vw + 20px);
	max-width: 1300px;
	min-width: 1100px;
	/* width: 1200px; */
	display: flex;
	height: 394px;
}

.product__os-text {
	width: 51%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 60px 30px;
	gap: 40px;
	background-color: #fff;
	border-radius: 20px;
}

.os-text {
	font-size: 32px;
	text-align: center;
	font-weight: 600;
}

.os-text-light {
}

.product-img {
	position: absolute;
	right: 25px;
	width: 50%;
	border-radius: 31px;
	height: 394px;
}

@media screen and (max-width: 1200px) {
	.product__os {
		/* flex-direction: column; */
		width: 100%;
		justify-content: center;
	}

	.product__os-text {
		width: 600px;
	}

	.product-img {
		bottom: -400px;
		right: unset;
		width: 600px;
	}

	.products__image-center {
		margin-top: 420px;
		width: 600px;
	}

	.products__container {
	}
}
